<h1>Same Cities In Different States</h1>
<p>This is a few cities that share the same name and showing what states they are located in.</p>
  <% @cities.each {|city| city.name} %>
<ul>
  <% city.states.each {|state| state.name} %>
</ul>
